@use './variables' as*;

//REGOLE FLEX
@mixin flex ($type) {
    display: flex;

    @if $type =='between' {
        justify-content: space-between;
    }

    @else if $type =='center' {
        align-items: center;
    }

    @else if $type =='both' {
        justify-content: space-between;
        align-items: center;
    }
    @else if $type == 'both-center'{
        justify-content: center;
        align-items: center;
    }
}

// mixin bottone:
@mixin button {
    border-radius: 10px;
    padding: 0.15rem;
    margin: 0 1rem;
    background-color: white;

    a {
        color: black;

        svg {
            color: $btn_red;
        }
    }
}