// REGOLE GENERALI
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

// REGOLE LAYOUT
.my_container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

