@import '~bootstrap/scss/bootstrap'; //  bootstrap
@import './partials/mixins'; // mixins
@import './partials/variables'; // variables

// REGOLE GENERALI:
body {
    color: $text_black;
}

#app {
    height: 100vh;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

// REGOLE REGISTRAZIONE:
.card {
    border: 1px solid #eaeaea;
    box-shadow: 0px 20px 10px 0px #b7bec2;

    .title-reg {
        margin: 30px 0;
        text-align: center;
        line-height: 10px;

        span {
            color: $btn_red;
        }
    }

    h5 {
        font-weight: bold;
    }

    form {

        h5 {
            margin: 30px 0;
        }

        .typologies input[type='checkbox'] {
            width: 20px;
            height: 20px;
            margin: 0 5px 5px 0;
        }
    }

    a {
        color: $btn_red;

        &:hover {
            color: $text_black;
        }
    }
}

.btn-reg {
    @include button;
    margin-top: 20px;
}

// REGOLE LOGIN:
.wrapper-log {
    background-image: url(../img/background.login.png);
    height: calc(100vh - 86px);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;

    .container {
        display: flex;
        justify-content: end;
        align-items: center;

        .card {
            width: 600px;
        }
    }

    a {
        color: $text_black;

        &:hover {
            color: $btn_red;
        }
    }
}

.btn-log {
    @include button;
}

.new-account {
    span {
        color: $btn_red;
    }
}

// REGOLE COMUNI LOGIN / REGISTRAZIONE / DASHBOARD:
.header-form {
    display: flex;
    justify-content: center;
    background-color: #000;

    .logo-form {
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid $btn_red;
        text-align: center;
    }
}

.star::after {
    content: "*";
    color: $btn_red;
    margin-left: 3px;
}

.card{
    margin-bottom: 50px;
}

// REGOLE DASHBOARD:
.dashboard-card {
    .dashboard-title span {
        color: $btn_red;
    }

    ul {
        margin: 20px 0;

        span {
            color: $btn_red;
            margin-right: 10px;
            font-weight: bold;
        }
    }

    .dashboard-link {
        display: flex;
        justify-content: center;

        a {
            @include button;
        }

    }
}

// REGOLE NAVBAR:
nav {
    .logo-form {
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid $btn_red;
    }
}

// REGOLE HOME RESTAURANT:
.res-hub-txt {

    .res-hub-welcome{
        color: $btn_red;
    }

    h4{
        margin: 20px 0;
    }

    .create-crud{
        color: $text_black;
    }

    .cards-res-hub{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        .card_crud{
            width: calc(100% / 4 - 40px);
            margin: 20px ;
            padding: 30px 20px 30px 20px;
            border-radius: 20px;
            
            .img-res-hub{
                display: block;
                width: 100%;
                height: 180px;
                object-fit: cover;
            }
        
            .body-crud{
                padding: 20px 0;
                margin-bottom: 50px;
        
                .link-show{
                    color: $text_black;
        
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        
            img{
                border-radius: 10px;
            }
        
            .btn-crud{
                border: 2px solid $btn_red;
                border-radius: 10px ;
                padding: 5px 10px;
                margin-right: 5px;
        
                &:hover{
                    background-color: $btn_red;
                    color: #fff;
                }
            }
        }
    }
}

// REGOLE SHOW:
.show-dish{
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    box-shadow: 0px 5px 5px 0px #ececec;
    border-radius: 10px;
    padding: 50px;

   
    .text-card{
        margin-left: 50px;

        .link-back{
            color: $text_black;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    img{
        width: 400px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
    .show-text{
        color: #4c4c4c;
        font-style: italic;
    }
}
  

