@import '~bootstrap/scss/bootstrap'; //  bootstrap
@import './partials/mixins'; // mixins
@import './partials/variables'; // variables


// REGOLE GENERALI:
body {
    color: $text_black;
}

#app {
    height: 100vh;
}

img{
    max-width: 100%;
}
a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.my_container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

// REGOLE REGISTRAZIONE:
.card {
    border: 1px solid #eaeaea;
    box-shadow: 0px 20px 10px 0px #b7bec2;

    .title-reg {
        margin: 30px 0;
        text-align: center;
        line-height: 15px;

        span {
            color: $btn_red;
        }
    }

    h5 {
        font-weight: bold;
    }

    form {

        h5 {
            margin: 30px 0;
        }

        .typologies input[type='checkbox'] {
            width: 20px;
            height: 20px;
            margin: 0 5px 5px 0;
        }
    }

    a {
        color: $btn_red;

        &:hover {
            color: $text_black;
        }
    }
}

@media only screen and (max-width: 450px) {

    .col-4 {
        width: auto;
    }

}

.btn-reg {
    @include button;
    margin-top: 20px;
    border: 2px solid $btn_red;
}

// REGOLE LOGIN:
.wrapper-log {
    background-image: url(../img/background.login.png);
    height: calc(100vh - 102px);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;

    .container {
        display: flex;
        justify-content: end;
        align-items: center;

        .card {
            width: 600px;
        }
    }

    a {
        color: $text_black;

        &:hover {
            color: $btn_red;
        }
    }
}

.btn-log {
    @include button;
    border: 2px solid $btn_red;
}

.new-account {
    span {
        color: $btn_red;
    }
}

@media only screen and (max-width: 820px) {

    .wrapper-log {
        background-image: url(../img/background.login.png);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: -300px;
        display: flex;
    
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .card {
                width: 400px;
            }
        }
    
        a {
            color: $text_black;
    
            &:hover {
                color: $btn_red;
            }
        }
    }
    
    .btn-log {
        @include button;
        border: 2px solid $btn_red;
    }
    
    .new-account {
        span {
            color: $btn_red;
        }
    }
        

}

@media only screen and (max-width: 540px) {

    .wrapper-log {
        background-image: url(../img/background.login.png);
        height: 100vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 240%;
        background-position: -300px;
        display: flex;
    
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
    
            .card {
                width: 300px;
            }
        }
    
        a {
            color: $text_black;
    
            &:hover {
                color: $btn_red;
            }
        }
    }
    
    .btn-log {
        @include button;
        border: 2px solid $btn_red;
    }
    
    .new-account {
        span {
            color: $btn_red;
        }
    }
        

}

// REGOLE COMUNI LOGIN / REGISTRAZIONE / DASHBOARD:
.header-form {
    display: flex;
    justify-content: center;
    background-color: #000;

    .logo-form {
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid $btn_red;
        text-align: center;
    }
}

.star::after {
    content: "*";
    color: $btn_red;
    margin-left: 3px;
}

.card {
    margin-bottom: 50px;
}

.res-hub-welcome {
    color: $btn_red;
}

// REGOLE DASHBOARD:
.dashboard-card {
    .dashboard-title span {
        color: $btn_red;
    }

    p{
        font-size: 20px;
        line-height: 15px;
    }
    
    .dash-flex{
        display: flex;

        .card{
            width: calc(50% - 50px);
            margin-inline: 25px;

            .header-dash{
                text-align: center;
                padding: 20px 0;
                font-size: 30px;
            }

            .card-body{
                padding: 0 40px 40px 40px;

                img{
                    border-radius: 10px;
                }

                ul {
                    margin: 30px 0;
                    padding-left: 0;
            
                    span {
                        color: $btn_red;
                        margin-right: 10px;
                        font-weight: bold;
                    }
                }
            
                .dashboard-link {
                    display: flex;
                    justify-content: center;
            
                    .btn {
                        border: 2px solid $btn_red;
                    }
            
                    a {
                        @include button;
                    }
            
                }
            }
        }
    }
    
}

@media screen and (max-width: 767px) {

    .dashboard-card {
        max-width: 760px;
        .dashboard-title span {
            color: $btn_red;
        }
    
        p{
            font-size: 20px;
            line-height: 20px;
        }
        
        .dash-flex{
            display: flex;
    
            .card{
                width: calc(50% - 20px);
                margin-inline: 15px;
    
                .header-dash{
                    text-align: center;
                    padding: 20px 0;
                    font-size: 30px;
                }
    
                .card-body{
                    padding: 0 40px 40px 40px;
    
                    img{
                        border-radius: 10px;
                    }
    
                    ul {
                        margin: 30px 0;
                        padding-left: 0;
                
                        span {
                            color: $btn_red;
                            margin-right: 10px;
                            font-weight: bold;
                        }
                    }
                
                    .dashboard-link {
                        display: flex;
                        justify-content: center;
                
                        .btn {
                            border: 2px solid $btn_red;
                        }
                
                        a {
                            @include button;
                        }
                
                    }
                }
            }
        }
        
    }

}

@media screen and (max-width: 540px) {

    .pt-5{
        padding-top: 1.5rem !important;
    }

    .dashboard-card {
        
        .dashboard-title span {
           
        }
        
        .dash-flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .card{
                width: 95%;
    
                .header-dash{
                    text-align: center;
                    padding: 20px 0;
                    font-size: 30px;
                }
    
                .card-body{
                    padding: 0 40px 40px 40px;
    
                    img{
                        border-radius: 10px;
                    }
    
                    ul {
                        margin: 30px 0;
                        padding-left: 0;
                
                        span {
                            color: $btn_red;
                            margin-right: 10px;
                            font-weight: bold;
                        }
                    }
                
                    .dashboard-link {
                        display: flex;
                        justify-content: center;
                
                        .btn {
                            border: 2px solid $btn_red;
                        }
                
                        a {
                            @include button;
                        }
                
                    }
                }
            }
        }
        
    }

}

// REGOLE NAVBAR:
nav {
    .logo-form {
        width: 70px;
        height: 70px;
        object-fit: contain;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid $btn_red;
    }
}

// REGOLE HOME RESTAURANT:
.res-hub-txt {

    h4 {
        margin: 20px 0;
    }

    .create-crud {
        color: $text_black;
    }

    .cards-res-hub {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        .card_crud {
            width: calc(100% / 3 - 40px);
            margin: 20px;
            padding: 30px 20px 30px 20px;
            border-radius: 20px;

            .img-res-hub {
                display: block;
                width: 100%;
                height: 180px;
                object-fit: cover;
            }

            .body-crud {
                padding: 20px 0;
                margin-bottom: 50px;

                .link-show {
                    color: $text_black;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            img {
                border-radius: 10px;
            }

            .btn-crud {
                border: 2px solid $btn_red;
                border-radius: 10px;
                padding: 5px 10px;
                margin-right: 5px;

                &:hover {
                    background-color: $btn_red;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 905px) {

    .res-hub-txt {

        h4 {
            margin: 20px 0;
        }
    
        .create-crud {
            color: $text_black;
        }
    
        .cards-res-hub {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
    
            .card_crud {
                width: calc(100% / 2 - 40px);
                margin: 20px;
                padding: 30px 20px 30px 20px;
                border-radius: 20px;
    
                .img-res-hub {
                    display: block;
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                }
    
                .body-crud {
                    padding: 20px 0;
                    margin-bottom: 50px;
    
                    .link-show {
                        color: $text_black;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
    
                img {
                    border-radius: 10px;
                }
    
                .btn-crud {
                    border: 2px solid $btn_red;
                    border-radius: 10px;
                    padding: 5px 10px;
                    margin-right: 5px;
    
                    &:hover {
                        background-color: $btn_red;
                        color: #fff;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 603px) {

    .res-hub-txt {

        h4 {
            margin: 20px 0;
        }
    
        .create-crud {
            color: $text_black;
        }
    
        .cards-res-hub {
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
    
            .card_crud {
                width: calc(100% - 40px);
                margin: 20px;
                padding: 30px 20px 30px 20px;
                border-radius: 20px;
    
                .img-res-hub {
                    display: block;
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                }
    
                .body-crud {
                    padding: 20px 0;
                    margin-bottom: 50px;
    
                    .link-show {
                        color: $text_black;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
    
                img {
                    border-radius: 10px;
                }
    
                .btn-crud {
                    border: 2px solid $btn_red;
                    border-radius: 10px;
                    padding: 5px 10px;
                    margin-right: 5px;
    
                    &:hover {
                        background-color: $btn_red;
                        color: #fff;
                    }
                }
            }
        }
    }

}


// REGOLE SHOW:
.show-dish {
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    box-shadow: 0px 5px 5px 0px #ececec;
    border-radius: 10px;
    padding: 50px;


    .text-card {
        margin-left: 50px;

        .link-back {
            color: $text_black;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    img {
        width: 400px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }

    .show-text {
        color: #4c4c4c;
        font-style: italic;
    }
}

@media screen and (max-width: 874px) {

    .show-dish {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #eaeaea;
        box-shadow: 0px 5px 5px 0px #ececec;
        border-radius: 10px;
        padding: 50px;
    
    
        .text-card {
            margin: 20px 20px;
    
            .link-back {
                color: $text_black;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    
        img {
            width: 95%;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }
    
        .show-text {
            color: #4c4c4c;
            font-style: italic;
        }
    }

}

@media screen and (max-width: 450px) {

    .show-dish {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #eaeaea;
        box-shadow: 0px 5px 5px 0px #ececec;
        border-radius: 10px;
        padding: 20px;
    
    
        .text-card {
            margin: 15px 15px;
    
            .link-back {
                color: $text_black;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    
        img {
            width: 95%;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }
    
        .show-text {
            color: #4c4c4c;
            font-style: italic;
        }
    }

}

// REGOLE CREATE:
.create-crud,
.edit-crud {
    margin-top: 50px;

    .btn {
        background-color: $btn_red;
        color: #fff;
        border: 2px solid $btn_red;

        &:hover {
            border: 2px solid $btn_red;
            background-color: #fff;
            color: $btn_red;
        }
    }
}

// REGOLE ORDINI ELENCO:
.orders{
    display: flex;
    margin: 10px 0;
    
    .sx-order{
        width: 200px;
    }

    .total-order{
        padding: 2px 5px;
        border-radius: 5px;
    }
}